
body {
    font-family: 'Open Sans', sans-serif;
}
header {
    width: 100%;
    height: 350px;
    /*background: url('../img/bg.svg');*/
    background-color: #081F35;
    padding-top: 120px;
    overflow: hidden;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 350px;
    top: 0;
    left: 0;
}
header .text {
    text-align: center;
    color: #fff;
}
.logo-img {
    position: absolute;
    top: 12px;
    left: 12px;
}
header .text .logo {
    font-size: 50px;
    font-weight:bolder;
    color: #fff;
    text-align: center;
}
header .text .sub {
    margin-top: -10px;
    font-size: 14px;
}
.content {
    padding: 8px;
    max-width: 960px;
    margin: auto;
}
.code {
    width: 100%;
    padding: 8px;
    font-family: monospace;
    background: #373737;
    border-radius: 4px;
    color: #fff;
}
